<header>
  <div id="ancre"></div>
  <div id="header" class="navbar">
    <a id class="navbar-brand" href=""><img id="logoHeader" src="pictures/logo2.jpg" alt="..." class="logo" width="80px"></a>
    <a class="nav-link active" aria-current="page" href="{{path('app_accueil')}}"><i class="fas fa-store"></i> Boutique</a>
    <a class="nav-link" href="{{path('app_contact')}}"><i class="fa fa-fw fa-envelope"></i> Contact</a>
    <a class="nav-link" href="{{path('app_about')}}"><i class="far fa-hand-point-right"></i> A propos</a>

    {# <img src="{{ asset('images/'~ riri)}}" alt="" /> #}
  </div>
</header>

